
.container h2{
    color: #413F9D;
    font-size: 24px;
    font-weight: bold;
}
 .container .Btns {
    border: 2px solid #413F9D;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 68px;
    color: #000;
    cursor: pointer;
    padding: 5px 25px;
    margin-bottom: 20px;
}
.Btns.active,
.Btns:hover {
      background-color: rgba(65, 63, 157, 1);
      color: #fff;
}

