.filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px 10px;
  border: 1px solid  #413F9D;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;

  transition: background 0.2s ease-in-out;
}

.filter-btn:hover {
  background: #f2f2f2;
}

.filter-btn span {
  font-size: 14px;
  /* color: #444; */
  font-weight: 500;
}
