.productsGridWrapper {
  width: 100%;
  margin-top: 25px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.pBox {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  transition: 0.2s;
  cursor: pointer;
}

.pBox:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.pImage {
  width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 14px;
  margin-bottom: 10px;
}.productRow {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


.pName {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  margin: 6px 0 4px;
}
h4 {
  color: #5F5E5E;
  margin-bottom: 20px;
}
.pPrice {
  font-size: 24px;
  font-weight: 500;
  bottom: 10px;
  color: #000;
  margin-bottom: 10px;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 6px; 
  
  width: 150px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  background: #5755C3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  
  margin: 0 auto;
}

.addBtn svg {
  flex-shrink: 0; 
}


.addBtn:hover {
  background: #5428d1;
}


/* Responsive */
@media (max-width: 900px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .productsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
