.sliderWrapper {
  width: 100%;
  margin-top: 20px;
}

.slide {
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
}

.image {
  width: 100%;
  height: 300px; /* اصغر طول */
  border-radius: 10px;
  object-fit: cover; /* يقص الصورة بدل ما يضغطها */
}

