.card-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin: 40px 60px;
}

.image-card {
  width: 530px;
  aspect-ratio: 2.8 / 3.5;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.image-card img {
  width: 100%;
  height: 100%;
}
