.slider-wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

.mySwiper img {
  width: 100%;
  border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
}
